@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono);

html, body, #react, .container {
	height: 100%;
	margin: 0;
}

body {
	background: black;
	color: white;
	font-family: 'Ubuntu Mono';
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container .title {
	font-size: 30px;
	text-align: center;
	display: flex;
	align-items: flex-end;
	flex: 1 0 0;
}

.container .wish {
	color: red;
}

.container .opts {
	display: flex;
	align-items: center;
	flex: 1 0 0;
}

.inverter {
	display: flex;
	flex: 10 0 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inverter .row {
	display: flex;
	flex-direction: row;
}

.inverter .box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 3px;
	float: left;
	border-radius: 2px;
	background-color: gray;
	box-shadow: 0 0 0 0 gray;
	transition: background-color 0.3s ease-out, box-shadow 0.35s ease-out;
}

/*.inverter .off {
	background-color: gray;
}*/

.inverter .on {
	background-color: white;
	box-shadow: 0 0 20px 3px white;
}

.board {
	position: relative;
}

.overlay {
	visibility:hidden;
	opacity:0;
	transition: opacity 0.5s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(0,0,0,0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay.visible {
	visibility:visible;
	opacity:1;
}

.reset-btn{
    outline: 0;
    padding: 5px 30px;
    color: #9fa8b0;
    cursor: pointer;
    text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
    border-radius: 3px;
    background: #232B30;
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.reset-btn:hover {
    color: #fff;
    background: #4C5A64;
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}

.reset-btn:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    color: #fff;
    background: #20282D;
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
