html, body, div, table, tr, td, header, section, button, h1, h2, h3, h4, h5, h6, p {
  margin: 0; padding: 0; border: 0;
  font-weight: 200;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body, #root, .container {
  height: 100%;
}

body {
  background: #EEEEEE;
  font-size: large;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  background: #303F9F;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0 0 24px 1px #212121;
}

.header .title {
  font-weight: 300;
  letter-spacing: 2px;
}

.header .sub-heading {
  font-weight: 100;
  font-size: medium;
  color: #c5cae9;
}

.level-statuses {
  height: 3px;
  position: absolute;
  top:0;
  width: 100%;
  background: white;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 24px 1px #212121;
  height: 50px;
}

.controls .control {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: small;
  color: #424242;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.controls .control .icon {
  line-height: 25px;
  font-size: medium;
}

.level-container {
  margin-top: 20px;
  font-weight: 300;
}

.level-container .level {
  color: #263238;
}

.level-container .level.complete {
  color: #1B5E20;
}

.game-board {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.game-board .board-cell {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #646464;
}

.game-board .board-cell:after {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  margin-top: -20px;
  margin-left: -20px;
  box-shadow: 0 0 6px 4px #303F9F;
  transition: opacity 0.2s ease-out;
  will-change: opacity;
  content: "";
  background: #303F9F;
}

.game-board .board-cell.off:after {
  opacity: 0;
}

.game-board .board-cell.on:after {
  opacity: 1;
}

@keyframes pulse {
  0% { opacity: 1 }
  50% { opacity: 0.2 }
  100% { opacity: 1 }
}
